<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./Gemini_Generated_Image_uykql0uykql0uykq.png" alt="Edge Case" width="30" height="24" >
        
    </a>
  </div>
</nav>